body {
	margin: 0;
	padding: 0;
	font-family: monospace;
	background-color: #162235;
	color: #D66D4D;
	width: 100%;
	height: 100vh;
}
::selection {
  background-color: #D66D4D;
  color: #162235;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e2125;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #D66D4D;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.widthRestriction {
	width: 70%;
	margin: 0 auto;
}
h1 {
	font-size: 6vh;
	text-align: center;
}
h2 {
	text-align: center;
}
canvas {
    position: absolute;
    z-index: -1;
    top: 0;
}
.buttonContainer {
	width: 100%;
	text-align: center;
	margin-top: 30vh;
}
a {
	text-decoration: none;
}
button {
	background-color: rgba(0,0,0,0);
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
	transition: 0.2s;
	font-family: monospace;
	color: #ffffff;
}
button:hover {
	background-color: #ffffff;
	color: #000000
}

.iframeContainer {
	height: 60vh;
	border-style: solid;
	border-width: 3px;
	border-color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
}
iframe {
	height: 100%;
	border-radius: 5px;
}
.tagLine {
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 2.5vh;
}